/* Resetter ---------------------------------------------------------------------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
/* END ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Index styles ---------------------------------------------------------------------------------------------------------------------------------------- */
body {
  background-color: #1c233f;
  color: #dcebff;
  font-family: "Montserrat", sans-serif;
}

form {
  position: relative;
  width: 100%;
  background: #abb3d6;
  color: #000;
  border-radius: 0.7rem;
}

input,
button {
  height: 2.5rem;
  border: 0;
  color: #000;
  font-size: calc(15px + 7 * ((100vw - 320px) / (5000 - 320)));
}

input[type="search"] {
  width: 100%;
  padding: 0 10px;
  background: #fff;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  background: #abb3d6;
  border-radius: 0 0.7rem 0.7rem 0;
  padding: 0 10px;
}

input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 80px);
}

input:not(:placeholder-shown) button {
  display: block;
  width: 5%;
}

.row {
  justify-content: center;
  justify-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main_title {
  margin-bottom: -15px;
}

.main_title a {
  color: #abb3d6;
  transition: all 0.2s ease;
}

.main_title:hover a {
  color: #a4a8b8;
}

.header_title {
  font-size: calc(30px + 13 * ((100vw - 320px) / (1600 - 320)));
  margin: 20px 0;
}

.group_img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.datalist_cities {
  text-transform: uppercase;
}

.container_card {
  position: relative;
  overflow: hidden;
}

.container_card:hover .group_name {
  opacity: 1;
}

.container_card:hover .group_img {
  filter: brightness(40%);
  transform: scale(1.1);
}

.group_name {
  opacity: 0;
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.loader_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dcebff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.loader {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  animation: loader 2s infinite ease;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* END ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Artist page styles ---------------------------------------------------------------------------------------------------------------------------------------- */
.main_card-parent {
  background-color: #dcebff;
}

.main_card {
  color: #1c233f;
}

.artist_name {
  font-weight: 700;
  font-size: calc(30px + 16 * ((100vw - 320px) / (1600 - 320)));
}

.artist_image {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.artist_image_inner {
  width: 100%;
  padding: 35px;
  border-radius: 20%;
}

.artist_stat_title {
  /* font-size: 30px; */
  font-size: calc(22px + 16 * ((100vw - 320px) / (4000 - 320)));
  font-weight: 700;
}

.artist_members {
  font-size: calc(18px + 16 * ((100vw - 320px) / (8000 - 320)));
  padding-left: 35px;
}

.artist_cities {
  padding-left: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: calc(17px + 16 * ((100vw - 320px) / (9500 - 320)));
  line-height: 0.5cm;
  font-weight: 600;
  letter-spacing: 0.018cm;
}

.artist_dates_parent {
  text-decoration: underline;
  font-size: calc(17px + 16 * ((100vw - 320px) / (9500 - 320)));
}

.artist_dates {
  padding-left: 25px;
}

.geolocation {
  width: 100%;
  height: 500px;
}
/* END ---------------------------------------------------------------------------------------------------------------------------------------- */
